@charset "utf-8";
/* CSS Document */

.boxHelper
{
	color: #fff;
	background-color: #000;
	text-align: center;
}

h2
{
	font-family: "Times New Roman",Georgia, Times, serif;
}

p
{
	font-family: Arial, Helvetica, sans-serif;
}

img
{
	
}

#mainHeader
{
}

#midCont
{
}

#mainFooter
{
}

@media only screen and (min-width: 40.125em) {/*642/16   Tablet*/



}




@media only screen and (min-width: 64.125em) {/*1026/16   Desktop*/



}



